.checkout-container {
    .checkout-content {
        width: 100%;
        margin-top: 2rem;
        padding: 0 20px;
    }
}

h1 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 500;
}

.checkout-content {
    display: grid;
    grid-template-columns: 1fr 480px;
    gap: 80px;
}

.billing-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    color: #7d7d7d;
    font-size: 14px;
}

.input-group label span {
    color: #db4444;
}

.input-group input {
    background: #f5f5f5;
    border: none;
    padding: 12px;
    border-radius: 4px;
    outline: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.checkbox-group input {
    accent-color: #db4444;
}

.order-summary {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .checkout-item {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-info {
            display: flex;
            align-items: center;
            gap: 15px;
            height: 110px;
            position: relative;
        }

        .item-info img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }

        .item-info .items-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70%;
        }
    }
}

.price-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.total {
    font-weight: bold;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coupon-section {
    display: flex;
    gap: 15px;
}

.coupon-section input {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 4px;
    flex: 1;
}

.apply-btn,
.place-order-btn {
    background-color: #db4444;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.place-order-btn {
    width: fit-content;
    padding: 16px 48px;
}

@media (max-width: 768px) {
    .checkout-content {
        grid-template-columns: 1fr;
    }
}